<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookNotes</title>
</head>

<body>
    <h1>Book Notes</h1>
    <p>Here is a collection a of books that I've read over the years and I've rated them according my liking.</p>
    <form action="/add" method="post">
        <label for="searchBook"> Book Title </label>
        <input type="text" name="searchBook">
        <button type="submit" class="submitButton">ADD</button>
    </form>
    <div class="books">
        <img src="<%= cover %>" alt="<%= title %> cover" srcset="">
        <h2>
            <%= title %>
        </h2>

        <h3>
            Author: <%= author%>
        </h3>
        <p> <b>Rating:</b> 9/10 </p>
    </div>
</body>

</html>